@import "true";

$button-styles: (
  foo: (
    button-style-name: test
  )
);

@import "../src/button/button-functions";

@include test-module('Button functions') {

  @include test('Get button style (Exists) [function]') {

    $test: get-button-style(foo);
    $expect: (button-style-name: test);
    @include assert-equal($test, $expect,
            'Returns the given button style');
  }

  @include test('Get button style (Does not exist) [function]') {

    $test: get-button-style(bar);
    $expect: ();
    @include assert-equal($test, $expect,
            'Returns an empty map');
  }

}