$form-input-background-color: white !default;
$form-input-border: 2px solid black !default;
$form-input-border-radius: $global-border-radius !default;
$form-input-box-shadow: false !default;
$form-input-box-sizing: border-box !default;
$form-input-color: inherit !default;
$form-input-display: block !default;
$form-input-font-family: inherit !default;
$form-input-font-size: 1rem !default;
$form-input-margin: 0 0 1em 0 !default;
$form-input-padding: 0.75em 1em !default;
$form-input-width: 100% !default;

$form-input-transition: false !default;

/*
$form-input-border--focus !default;
$form-input-background-color--focus !default;
$form-input-outline--focus !default;
$form-input-box-shadow--focus !default;
*/