@mixin form-input-base {
  background-color: $form-input-background-color;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  @include declare(box-shadow, $form-input-box-shadow);
  box-sizing: $form-input-box-sizing;
  color: $form-input-color;
  display: $form-input-display;
  font-family: $form-input-font-family;
  font-size: $form-input-font-size;
  margin: $form-input-margin;
  padding: $form-input-padding;
  width: $form-input-width;

  @include declare(transition, $form-input-transition);

  // Focus state
  &:focus {
    border: $form-input-border--focus;
    background-color: $form-input-background-color--focus;
    outline: $form-input-outline--focus;
    box-shadow: $form-input-box-shadow--focus;
  }
}
