@import "button-variables";
@import "button-functions";

/// Make the actual button by throwing in a variable argument
/// Like so: make-button($parameters...);
@mixin make-button(
  $background-color: $button-background-color,
  $background-color--hover: $button-background-color--hover,
  $border: $button-border-width $button-border-style $button-border-color,
  $border-radius: $button-border-radius,
  $box-shadow: $button-box-shadow,
  $color: $button-text-color,
  $color--hover: $button-text-color,
  $cursor: $button-cursor,
  $display: $button-display,
  $font-size: $button-font-size,
  $line-height: $button-line-height,
  $margin: $button-margin,
  $padding: $button-padding,
  $text-align: $button-text-align,
  $text-decoration: $button-text-decoration,
  $vertical-align: $button-vertical-align
) {
  -webkit-appearance: none;
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $color;
  cursor: $cursor;
  display: $display;
  font-size: $font-size;
  line-height: $button-line-height;
  margin: $button-margin;
  padding: $button-padding;
  text-align: $text-align;
  text-decoration: $button-text-decoration;
  vertical-align: $button-vertical-align;
}

/// A simple button with defined colors for background, hover and text
@mixin button(
  $style: default,
  $size: base
) {
  $style: get-button-style($style);
  $size: map_get($button-sizes, $size);
  $parameters: map_merge($style, $size);
  @include make-button($parameters...);
}