$button-background-color: $global-color-brand !default;
$button-background-color--hover: scale_color($button-background-color, $lightness: 25%) !default;
$button-border-width: 0 !default;
$button-border-style: solid !default;
$button-border-color: transparent !default;
$button-border-radius: $global-border-radius !default;
$button-box-shadow: none !default;
$button-cursor: pointer !default;
$button-display: inline-block !default;
$button-font-size: 1rem !default;
$button-line-height: 1 !default;
$button-link-color: $global-text-link-color !default;
$button-margin: 0 !default;
$button-outline--focus: none !default;
$button-padding: 0.75em 1em !default;
$button-text-align: center !default;
$button-text-color: #fff !default;
$button-text-decoration: none !default;
$button-vertical-align: middle !default;
$button-white-space: nowrap !default;

$button-default-style: default !default;
$button-default-size: base  !default;

$button-background-transitions: (
  sweep-to-right: horizontal,
  sweep-to-left: horizontal,
  sweep-to-top: vertical,
  sweep-to-bottom: vertical,
  bounce-to-right: horizontal,
  bounce-to-left: horizontal,
  bounce-to-top: vertical,
  bounce-to-bottom: vertical
);

$button-2d-transitions: (
  grow: true,
  shrink: true,
  bounce-in: true,
  bounce-out: true
);

$button-animations: (
  pulse: 1s linear infinite,
  pulse-grow: .5s linear infinite alternate,
  pulse-shrink: .5s linear infinite alternate,
  push: .3s linear 1,
  pop: .3s linear 1
);

$button-styles: (
  default: (
    button-style-name: default,
    background-color: $button-background-color,
    border-radius: $button-border-radius,
    background-color--hover: $button-background-color--hover,
    color: $button-text-color,
    color--hover: $button-text-color,
    hover-transition: sweep-to-bottom
  ),
  ghost: (
    button-style-name: ghost,
    background-color: transparent,
    background-color--hover: black,
    border: 2px solid black,
    color: black,
    color--hover: white,
    hover-transition: sweep-to-right
  ),
  link: (
    button-style-name: link,
    background-color: transparent,
    color: $global-text-link-color,
    background-color--hover: transparent,
    color--hover: $global-text-link-color,
    hover-transition: sweep-to-bottom
  )
) !default;

$button-sizes: (
  x-large: (
    font-size: 1.4rem
  ),
  large: (
    font-size: 1.2rem
  ),
  base: (
    font-size: 1rem
  ),
  small: (
    font-size: .8rem
  ),
  x-small: (
    font-size: .6rem
  )
) !default;