$button-background-color: $global-color-brand !default;
$button-background-color--hover: scale_color($button-background-color, $lightness: 25%) !default;
$button-border-width: 0 !default;
$button-border-style: solid !default;
$button-border-color: transparent !default;
$button-border-radius: $global-radius !default;
$button-box-shadow: none !default;
$button-cursor: pointer !default;
$button-display: inline-block !default;
$button-font-size: 1rem !default;
$button-line-height: 1 !default;
$button-link-color: $global-text-link-color !default;
$button-margin: 0 0 1em 0 !default;
$button-padding: 0.75em 1em !default;
$button-text-align: center !default;
$button-text-color: #fff !default;
$button-text-decoration: none !default;
$button-vertical-align: middle !default;

$button-styles: (
  default: (
    background-color: $button-background-color,
    color: $button-text-color,
    background-color--hover: $button-background-color--hover,
    color--hover: $button-text-color
  ),
  link: (
    background-color: transparent,
    color: $global-text-link-color,
    background-color--hover: transparent,
    color--hover: $global-text-link-color
  )
) !default;

$button-sizes: (
  x-large: (
    font-size: 1.4rem
  ),
  large: (
    font-size: 1.2rem
  ),
  base: (
    font-size: 1rem
  ),
  small: (
    font-size: .8rem
  ),
  x-small: (
    font-size: .6rem
  )
) !default;