@import "button-variables";
@import "button-functions";
@import "button-transitions";
@import "button-base";

/// Styled button
@mixin button(
  $style: $button-default-style,
  $size: $button-default-size
) {
  $style: get-button-style($style);
  $size: map_get($button-sizes, $size);
  $parameters: map_merge($style, $size);
  @include button-base($parameters...);
}