/// Get a button style
///
/// @parameter {string} $style - Name of the style
@function get-button-style($style) {
  @if map-has_key($button-styles, $style) {
    @return map-get($button-styles, $style);
  } @else {
    $error: log-error('Style `#{$style}` not defined in $button-styles');
    @return ();
  }
}

/// Add a button style
///
/// @parameter {string} $name - Name of the style
/// @parameter {map} $style - Map of style parameters
@function add-button-style($name, $style) {
  $new-style: (
    $name: $style
  );
  @return map-merge($button-styles, $new-style);
}

/// Check if the given transition is a background transition
///
/// @parameter {string} $transition - Name of the transition
/// @return {boolean}
@function button-has-background-transition($transition) {
  @return map_has_key($button-background-transitions, $transition);
}

/// Check if the given transition is a background transition
/// and is a vertical transition
///
/// @parameter {string} $transition - Name of the transition
/// @return {boolean}
@function button-has-vertical-transition($transition) {
  @return button-has-background-transition($transition) and (map_get($button-background-transitions, $transition) == vertical);
}

/// Check if the given transition is a 2D transition
///
/// @parameter {string} $transition - Name of the transition
/// @return {boolean}
@function button-has-2d-transition($transition) {
  @return map_has_key($button-2d-transitions, $transition);
}